body {
  padding: 130px 0 0 0;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8fDA%3D');
   background-size:cover;
   background-repeat:no-repeat;
   background-position:center;
   background-attachment:fixed;
  text-align: center;

}
.container{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border:2px solid whitesmoke;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-around;
  margin: 40px;
  border-radius:20px;
}
.item{
  font-family: 'Times New Roman', Times, serif;
  margin-left:20px;
  margin-right: 20px;
  color: #666666;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 10px 0 10px 10px;
}
.item1{
  font-family: 'Times New Roman', Times, serif ;
  margin: 0 20px 0 20px;
  background: linear-gradient(135deg,#Eeeeee,#87CEFA);
  border: 2px solid whitesmoke;
  padding: 5px 0 5px 0;
  border-radius: 20px;
  border: none;
}
.item2{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a{
  color: #004080;
  text-decoration: none;
}
label{
  color: #333333;
  display: flex;
  gap:1px;
  align-items: center;
}
.user{
  position: absolute;
  right: 40px;
  bottom: 243px;
  color: #262329;
}
.eye{
  position: absolute;
  color: #262329;
  right: 40px;
  top: 178px;
}
.password{
  align-content: center;
  background: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: center;
  
}
h3{
  width:100%;
  text-align: center;
}
h4{
  position: absolute;
  bottom: 20px;
  right: 95px;
  font-size: 15px;
}
.container1{
  text-align: center;
  border: 2px solid #F3F3F3;
  border-radius: 20px;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  margin: 40px;
}
.item3{
  display:flex;
  padding: 10px 10px 10px 10px;
  border: none;
  margin: 10px 20px 0 20px;
  border-radius:20px;
}
.reset{
  position: absolute;
  right: 40px;
  bottom: 238px;
}
.item4{
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
  border-radius:10px;
  background-color: #EEEFEF;
}
.item5{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.twitter, .facebook, .youtube, .instagram{
  color: #000000;
}
.item7{
  display:flex;
  flex-direction: column;
  margin: 0 23px 0 23px;
  border: none;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.email{
  position: relative;
  left: 30px;
}
.item7:hover{
  background: linear-gradient(135deg,#E09829,#77736F);
}

.back{
  font-size: 13px;
}
.youtube a{
  color: #FF0000;
}
.instagram a{
  color: #E1306C;
}
.facebook{
  color: #1877F8;
}
.twitter a{
  color: #000000;
}
.register{
  align-content: center;
  background: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: center;
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #000000;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  height: 360px;
  margin: 40px;
}
.item8{
  padding: 10px 0 10px 10px;
  margin: 0 20px 0 20px;
  border: none;
  border-radius:20px;
}
.label{
  padding-left: 20px;
  color: black;
}
button{
  padding: 5px 0 5px 0;
  margin: 20px 20px 20px 20px;
  border: none;
  border-radius:20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.back{
  font-size: 13px;
  position: relative;
}
.one{
  position: absolute;
  right: 35px;
  top: 100px;
}
.two{
  position: absolute;
  right: 35px;
  top: 155px;
}
.three{
  position: absolute;
  right: 35px;
  top: 215px;
}
.item6{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 20px;
}
.arrow{
  position: absolute;
  background: white;
  border: none;
  border-radius: 80px;
  padding: 10px;
  top: 10px;
}
.container2 button:hover{
  background: linear-gradient(135deg,#FADFDF,#FFE300);
}